.page {
  margin: auto;
  max-width: $container-max-width;

  display: grid;
  grid-template-columns: auto 350px;
  grid-gap: $grid-spacing;
}

#page-heading {
  margin: ($grid-spacing*2) $grid-spacing;
  grid-column: 1 / span 2;
}

//#page-heading,
//#page-aside,
//#page-body {
//  flex: 1 100%;
//  padding: 10px;
//}
//
//#page-heading {
//  margin-bottom: 1.5em;
//}
//
//#page-body {
//  max-width: 800px;
//
//}

//.grid {
//  display: grid;
//  grid-template-columns: 1vw 50px 100px;
//  grid-template-rows: 100px 30px;
//}

//@media all and (min-width: 800px) {
//  #page-aside { flex: 1 auto; }
//}
//
//@media all and (min-width: 800px) {
//  #page-body  { flex: 7 0; order: 1; }
//  #page-aside { order: 2; }
//}


//#page-title {
//  text-align: center;
//}
//
//#page-intro {
//  text-align: center;
//}