a {
  text-decoration: none;

}

h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 1em;
}

h2, h3, h4, h5 {
  margin: 1.5em 0 1em 0;
}

pre {
  border: 1px solid #cccccc;
  background-color: #fefefe;
  padding: 15px;
  margin: 15px 0;
}

p {
  line-height: 1.3em;
  margin-bottom: 1em;
}

ul {
  padding-left: 25px;
  margin-bottom: 1em;
}

li {
  line-height: 1.3em;
}