@import './variables.scss';
@import './typography.scss';
@import './topbar.scss';
@import './page.scss';
@import './block.scss';
@import './article.scss';

@import './highlight-theme.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  color: #444444;
  background: #f4f4f4;
}